@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}
body {
  background-color: #1c1c1c;
  color: white;
}

a {
  text-decoration: none;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.marker {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

/* mała kropka w środku (czytelność) */
.marker::after {
  content: "";
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* STATUSY */

.marker--legal {
  background-color: #16a34a; /* green-600 */
}

.marker--semi-legal {
  background-color: #f59e0b; /* amber-500 */
}

.marker--closed {
  background-color: #dc2626; /* red-600 */
}

/* hover */
.marker:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* ACTIVE */
.marker--active {
  box-shadow:
    0 0 0 6px rgba(34, 197, 94, 0.25),
    0 6px 14px rgba(0, 0, 0, 0.35);
}

.cluster-icon {
  background: #1f2937; /* dark gray */
  color: white;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: 2px solid #22c55e; /* zielony akcent */
}
